<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>moviezen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= react_component('Navbar', currentUser: current_user) %>
    <main>
      <% unless notice.nil? && alert.nil? %>
        <div class="container">
          <div class="row mt-3 justify-content-center">
            <div class="col-sm-6">
              <% unless notice.nil? %>
                <%= react_component('Alert', { type: 'success', message: notice })%>
              <% end %>
              <% unless alert.nil? %>
                <%= react_component('Alert', { type: 'danger', message: alert })%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </main>
    <div id="modal-root"></div>
  </body>
</html>
